<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>Document</title>
<script>
var $CONFIG = {
	srcPath : '../../src/'
};
</script>
<script>
document.write([
	'<link',
		'rel="stylesheet"',
		'type="text/css"',
		'href="' + $CONFIG.srcPath + 'css/index.css"',
	'/>'
].join(' '));
</script>
<link rel="stylesheet" type="text/css" href="../../src/css/index.css"/>
</head>
<body>

<script>
document.write([
	'<script',
		'src="' + $CONFIG.srcPath + 'js/lithe.js"',
		'data-config="/config.js"',
		'data-main="conf/page/index.js"',
	'></' + 'script>'
].join(' '));
</script>
</body>
</html>