<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>{{TITLE}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<script>
var $CONFIG = {{CONFIG_DATA}};
</script>
<link rel="stylesheet" type="text/css" href="{{SRC_PATH}}/css/output.css">
</head>
<body>
<div class="wrapper" id="wrapper"></div>
<script src="{{SRC_PATH}}/js/lithe.js" data-config="/config.js" data-main="conf/page/output.js"></script>
</body>
</html>