/* 分页列表中展示的表格 */
.page table{border-spacing: 1px; counter-reset: table;}
.page th{text-align: center; border: 1px solid rgba(0,0,0,0.2); background-color: rgba(0,0,255,0.1);padding: 2px 5px;}
.page td{padding: 0 5px;border: 1px solid rgba(0,0,0,0.2);}
.page tr{counter-increment: table;}
.page tr:first-child{counter-increment: none;}
.page tr:before{content:counter(table);display: table-cell;padding: 0 5px;border: 1px solid rgba(0,0,0,0.2);text-align: center;vertical-align: middle;}
.page tr:first-child:before{content:"index";background-color: rgba(0,0,255,0.1);padding: 2px 5px;font-weight: bold;}
.page tr:hover td{background-color: rgba(255,0,0,0.1);}

/* 分页列表中展示的页码 */
.page .pl{overflow:auto;-webkit-overflow-scrolling:touch;}
.page .pn{-webkit-user-select:none;}
.page .pn .pinfo{display: inline-block;}
.page .pn .pinfo input{text-align: center;width: 50px;}
.page .pn a{display: inline-block; padding:0 5px; border: 1px solid #ddd; height: 20px; cursor: pointer;line-height: 20px;vertical-align: middle; text-align: center; margin-right: 5px;}
.page .pn a:hover{background: #ffd;}
.page .pn a.false{color:#999; opacity:0.5; cursor: default;}
.page .pn a.false:hover{background: none;}
.page .pn a.split{border: none; cursor: default;padding: 0;}
.page .pn a.split:hover{background: none;}
.page .pn a.current{cursor: default;background: #ddd;}
.page .pn a.current:hover{background: #ddd;}
.page .pn div.false{display: none;}