@charset "utf-8";
/* CSS Document */

/*css reset*/
body, nav, dl, dt, dd, p, h1, h2, h3, h4, ul, ol, li, input, button, textarea, footer { margin: 0; padding: 0 }
body { font: 18px/1.5 'HelveticaNeue'; color: #444; background: #f8f8f8; -webkit-text-size-adjust: none; min-width: 320px; padding-bottom: 60px; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; text-justify: inter-ideograph; text-align: justify;-webkit-tap-highlight-color:rgba(255,255,255,0) }
h1, h2, h3, h4, h5, h6 { font-size: 100% }
form { display: inline }
ul, ol { list-style: none }
a { text-decoration: none; color: #428ad1; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a:active, a:focus { color: #428ad1; text-decoration: none; }
img { vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; }
span[data-hide] { display: none }
span[data-hide^="show"] { display: inline; }
button, input, select, textarea { font-size: 100%; vertical-align: middle; outline: none; }
textarea { resize: none }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; -moz-appearance: button }
input:focus:-moz-placeholder, input:focus::-webkit-input-placeholder {
 color:transparent
}
button::-moz-focus-inner, input::-moz-focus-inner {
 padding:0;
 border:0
}
header, footer, article, section, nav, menu, hgroup { display: block; clear: both; overflow:hidden; }


